Android/.gradle/
Android/local.properties/
Android/.idea/workspace.xml/
Android/.idea/libraries/
Android/.DS_Store/
Android/build/
Android/bin/
Android/gen/
*.class
*.apk
*.ap_
*.dex
*bin
.classpath
.project
.settings/
backend/ClassiCalServer/lib/
backend/data/
