Android/.gradle/
Android/local.properties/
Android/.idea/workspace.xml/
Android/.idea/libraries/
Android/.DS_Store/
Android/build/
*.class
.classpath
.project
.settings/
backend/ClassiCalServer/lib/
backend/data/
